@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px 35px 25px;
  font-size: 18px;
  margin: 0;
}

h3 {
  font-weight: normal;
}

.gallery {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.gallery img {
  margin: 10px;
  max-height: 200px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.main-image {
  cursor: pointer;
  display: block;
}

body {
  background-color: #E2E8FF;
}

#imageGallery {
  display: none;
}

#toggleGalleryCheckbox:checked ~ #imageGallery {
  display: block;
}

.image-container {
  display: inline-block;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

label.image-container {
  background-color: transparent;
  padding: 0;
  color: inherit;
  border-radius: 0;
}
